@import './var.scss';

body {
    background-color: #F1F4F4;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
    color: $mainDark;
    transition: 0.3s;

    &:hover {
        color: $main;
    }
}

button {
    transition: 0.3s !important;
    cursor: pointer !important;

    &:active {
        scale: 0.95 !important;
    }

    &:focus {
        outline: none;
    }
}

.userMenu {
    position: absolute;
    right: 1.5rem;
    top: 100%;
    width: 160px;
    border-radius: 8px;
    background: $light;
    padding: 5px;
    display: flex;
    flex-direction: column;

    button {

        all: unset;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 300;

        &:hover {
            background-color: $main_light;
        }

        svg {
            font-size: 18px;
        }
    }
}

table {
    border-radius: 8px;
    overflow: unset;
    width: 100%;

    thead {
        background: $main_light;

        tr {
            th {
                padding: 13px;
                font-weight: 300 !important;
                color: $subText;

                &:first-child {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                &:last-child {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $lightBorder;
            transition: 0.3s;

            &:hover {
                background-color: lighten($color: $main_light, $amount: 4) !important;

            }

            td {
                padding: 15px;
                font-size: 0.875rem;
            }
        }
    }

    .description {
        width: 60%;
        word-break: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        margin-bottom: 0;


    }
}

.tableMenu {
    position: relative;

    button {
        all: unset;
        cursor: pointer;
    }

    .menu {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 140px;
        padding: 10px;
        background: #FFFFFF;
        border: 1px solid #EFEFF1;
        box-shadow: 0px 1px 20px 5px rgba(235, 235, 235, 0.5);
        border-radius: 8px;
        z-index: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        button,
        a {
            padding: 6px 10px;
            transition: 0.3s;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #000;
            border-radius: 6px;

            &:hover {
                background-color: $main_light;
            }

            &.delete {
                &:hover {
                    color: $danger;
                    background-color: $lightDanger;

                    svg {
                        path {
                            fill: $danger;
                        }
                    }
                }
            }
        }
    }

    &.inTable {
        display: flex;
        justify-content: flex-end;
        gap: 20px;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.newSide {
    position: fixed;
    right: -100%;
    top: 0;
    width: 350px;
    height: 100%;
    background: $light;
    z-index: 1001;
    border-radius: 15px 0 0 15px;
    padding: 15px;
    transition: 0.3s;

    &.active {
        right: 0 !important;
    }

    .modalHead {
        padding: 1rem 0;
        justify-content: center;
        position: relative;

        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .buttons {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;

        button {
            width: 40%;
            justify-content: center;
        }
    }
}

.newSideOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $main;
    opacity: 0.3;
    z-index: 1000;
}

.newProject {
    padding-bottom: 1rem;

    .centerItem {
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid $lightBorder;
        padding: 1rem 0;
        border-radius: 8px;

        div {
            display: flex;
            justify-content: center;
            gap: 10px;

            input {
                all: unset;
                text-align: left;
                font-size: 14px;
                width: fit-content;
            }

            svg {
                width: 25px;
                height: 25px;
            }
        }

        &.photoUpload {
            border-style: dashed;
            border-color: #A8B9CA;

            label {
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                cursor: pointer;
                transition: 0.3s;
                user-select: none;

                &:active {
                    scale: 0.95;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }

    .step {
        min-height: 50vh;

        section {
            padding-top: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $lightBorder;

            .title {
                font-weight: 400;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }


    .select {
        position: relative;
        display: flex;
        flex-direction: column;
        user-select: none;

        .singleSelect {
            all: unset;
            user-select: none;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;
            border: 2px solid $main_light;
            padding: 10px;
            transition: 0.3s;

            &:active {
                scale: 1 !important;
            }

            span {
                font-weight: 300;
                font-size: 15px;
            }

            &.open {
                border-radius: 4px 4px 0px 0px;

                svg {
                    transform: rotate(180deg);
                }
            }
        }

        .selectMenu {
            border: 2px solid $main_light;
            border-top: 0;
            width: 100%;
            position: absolute;
            border-radius: 0px 0px 4px 4px;
            top: 55px;
            left: 0;
            background: $light;
            max-height: 160px;
            height: 0;
            overflow: scroll;
            transition: 0.3s;
            z-index: 4;

            &.open {
                height: 160px;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .service {
                padding: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 0.3s;

                &:hover {
                    background: $main_light;
                }

                .serviceData {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    h6 {
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }

        &.inputSelect {
            span {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .singleSelect {
                color: $placeholder;
                border-color: #f6f6f6;
            }

            .selectMenu {
                border-color: #f6f6f6;

            }
        }
    }

    .services {

        .singleService {
            border-bottom: 1px solid $lightBorder;
            padding-bottom: 1rem;

            .singleServiceHead {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                }

                h6 {
                    margin-bottom: 0;
                }
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: unset;
            }

            h6 {
                font-weight: 400;
                font-size: 1.1rem;
            }
        }
    }

    .locationSection {
        border-top: 1px solid $lightBorder;
    }

    .videoPrev {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        color: $placeholder;
        font-size: 14px;
        justify-content: space-between;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid $lightBorder;
        padding: 1rem;
        border-radius: 8px;
        gap: 10px;

        svg {
            min-width: 16px;
            min-height: 16px;
        }

        button {
            all: unset;
        }

        span {
            word-break: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .addvideoBtn {
        transform: translateY(-16px);
    }
}

.alCenter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
}

.newProject {
    padding-bottom: 1rem;

    .centerItem {
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid $lightBorder;
        padding: 1rem 0;
        border-radius: 8px;

        div {
            display: flex;
            justify-content: center;
            gap: 10px;

            input {
                all: unset;
                text-align: left;
                font-size: 14px;
                width: fit-content;
            }

            svg {
                width: 25px;
                height: 25px;
            }
        }

        &.photoUpload {
            border-style: dashed;
            border-color: #A8B9CA;

            label {
                all: unset;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                cursor: pointer;
                transition: 0.3s;
                user-select: none;

                &:active {
                    scale: 0.95;
                }

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }

    .step {
        min-height: 50vh;

        section {
            padding-top: 2rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $lightBorder;

            .title {
                font-weight: 400;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }


    .select {
        position: relative;
        display: flex;
        flex-direction: column;
        user-select: none;

        .singleSelect {
            all: unset;
            user-select: none;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 4px;
            border: 2px solid $main_light;
            padding: 10px;
            transition: 0.3s;

            &:active {
                scale: 1 !important;
            }

            span {
                font-weight: 300;
                font-size: 15px;
            }

            &.open {
                border-radius: 4px 4px 0px 0px;

                svg {
                    transform: rotate(180deg);
                }
            }
        }

        .selectMenu {
            border: 2px solid $main_light;
            border-top: 0;
            width: 100%;
            position: absolute;
            border-radius: 0px 0px 4px 4px;
            top: 55px;
            left: 0;
            background: $light;
            max-height: 160px;
            height: 0;
            overflow: scroll;
            transition: 0.3s;
            z-index: 4;

            &.open {
                height: 160px;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            .service {
                padding: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 0.3s;

                &:hover {
                    background: $main_light;
                }

                .serviceData {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    h6 {
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }

        &.inputSelect {
            span {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .singleSelect {
                color: $placeholder;
                border-color: #f6f6f6;
            }

            .selectMenu {
                border-color: #f6f6f6;

            }
        }
    }

    .services {

        .singleService {
            border-bottom: 1px solid $lightBorder;
            padding-bottom: 1rem;

            .singleServiceHead {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                gap: 10px;

                img {
                    width: 20px;
                    height: 20px;
                }

                h6 {
                    margin-bottom: 0;
                }
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: unset;
            }

            h6 {
                font-weight: 400;
                font-size: 1.1rem;
            }
        }
    }

    .locationSection {
        border-top: 1px solid $lightBorder;
    }

    .videoPrev {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        color: $placeholder;
        font-size: 14px;
        justify-content: space-between;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid $lightBorder;
        padding: 1rem;
        border-radius: 8px;
        gap: 10px;

        svg {
            min-width: 16px;
            min-height: 16px;
        }

        button {
            all: unset;
        }

        span {
            word-break: break-word;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .addvideoBtn {
        transform: translateY(-16px);
    }
}

.logoUpload {
    button {
        left: 2rem !important;
    }
}

.imgsView {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;



    &.v360 {
        img {
            width: 90px;
            object-fit: cover;
        }
    }
}

.imgView {
    position: relative;

    button {
        all: unset;
        top: 0;
        left: 20px;
        position: absolute;
        transform: translateX(-100%);
        background: $light;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 15px;
            height: 15px;

            path {
                fill: $danger;
            }
        }
    }

    img {
        width: 60px !important ; 
        height: 60px !important;
        object-fit: cover;
    }
}

.select {
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;

    .singleSelect {
        all: unset;
        user-select: none;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        border: 2px solid $main_light;
        padding: 10px;
        transition: 0.3s;

        &:active {
            scale: 1 !important;
        }

        span {
            font-weight: 300;
            font-size: 15px;
        }

        &.open {
            border-radius: 4px 4px 0px 0px;

            svg {
                transform: rotate(180deg);
            }
        }
    }

    .selectMenu {
        border: 2px solid $main_light;
        border-top: 0;
        width: 100%;
        position: absolute;
        border-radius: 0px 0px 4px 4px;
        top: 55px;
        left: 0;
        background: $light;
        max-height: 160px;
        height: 0;
        overflow: scroll;
        transition: 0.3s;
        z-index: 4;

        &.open {
            height: 160px;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        .service {
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: 0.3s;

            &:hover {
                background: $main_light;
            }

            .serviceData {
                display: flex;
                align-items: center;
                gap: 5px;

                img {
                    width: 20px;
                    height: 20px;
                }

                h6 {
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }

    &.inputSelect {
        span {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .singleSelect {
            color: $placeholder;
            border-color: #f6f6f6;
        }

        .selectMenu {
            border-color: #f6f6f6;

        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}