$main:#1B3250;
$mainDark:#0B1522;
$main_light:#E8EFF7;
$placeholder:#C1C2C3;
$lightText:#fff;
$light:#fff;
$lightBg:rgba(255, 255, 255, 0.2);;
$lightShadowColor:rgba(235, 235, 235, 0.5);
$cardShadowColor:rgba(235, 235, 235, 0.77);
$subText:#5A5D61;
$lightBorder:#F5F5F6;
$success:#10B981;
$lightSuccess:#ECF9F5;
$danger:#E92727;
$lightDanger:#FDEEEE;
$yellow:rgba(255, 202, 49, 1);
$lightYellow:rgba(255, 250, 234, 1);